hr {
    margin: 50px;
  }
  
  /* Part 1 */
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #1e90ff;
    color: white;
    margin: 50px auto;
    display: block;
  }
  
  button:focus {
    outline: none;
  }
  
  button:hover {
    cursor: pointer;
    background-color: #115ba2;
  }
  